@import "https://use.fontawesome.com/releases/v5.0.10/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
  opacity: 0.9;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(49, 53, 56);
  font-size: 16px;
  line-height:  32px;
  background-color: d9e4dd;
}

.link-medium {
  color: #636363;
  font-weight: lighter;
  font-size: 16px;
}

.btn {
  padding: 15px 20px;
  border-radius: 4px;
}

a {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  font-family: 'Open Sans';
  font-weight: lighter;
  text-decoration: none;
}

a:hover{
  font-family: 'Open Sans';
  font-weight: bolder;
  transition: 20ms;
  text-decoration: none;
}

p {
  font-family: Raleway, 'Courier New', Courier, monospace;
  color: 555555;
  font-size: 18px;
  font-weight: lighter;
}

.container {
  width: 500px;
  margin: 75px auto
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 450px;   /* This sets the width */
    margin: 75px auto; /* This automatically sets left/right margins */
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */

  .container {
    width: 400px;   /* This sets the width */
    margin: 75px auto; /* This automatically sets left/right margins */
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */

  .container {
    width: 300px;   /* This sets the width */
    margin: 75px auto; /* This automatically sets left/right margins */
  }  
}



h1 {
  font-family: Raleway, 'Courier New', Courier, monospace;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  color: cdc9c3;
  font-size: 48px;
  font-weight:normal;
}

h2 {
  font-family: Raleway, 'Courier New', Courier, monospace;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  color: cdc9c3;
  font-size: 32px;
  font-weight: normal;
}

h3 {
  font-family: Raleway, 'Courier New', Courier, monospace;
  color:cdc9c3;
  font-size: 16px;
  font-weight: lighter;
}


.card {
  margin: 20 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

.social{
  color: 8f384d;
  font-size: 18px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}